body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f3f5;
    color: #000;
}

.container-fluid {
    max-width: 1200px;
    margin: auto;
    padding: 2% 2%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 8px;
    overflow: visible;
}

#top-nav {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3A60E4;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nav-options button,
#nav-options {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
}

#nav-options button:hover,
#nav-options a:hover {
    text-decoration: underline;
}

#top-nav img, #top-nav h1 {
    align-self: center;
}

#top-nav h1 {
    margin-left: 20px;
    flex-grow: 1;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    transform: translateY(-5px);
}

.card p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#stock-panels h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
}

#logo {
    width: 50px;
    height: auto;
    margin: 10px;
}

.container > h3 {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}
