body {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

.container-fluid {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px #4e5052;
    border-radius: 8px;
    overflow: visible;
    background-color: #dadfe3;
}

a:hover {
    text-decoration: none;
}

#top-nav {
    background-color: #007bff;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #3A60E4;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 8px;
    padding: 5px;
}

#nav-options button,
#nav-options {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

#nav-options button:hover,
#nav-options a:hover {
    text-decoration: underline;
}

#top-nav img, #top-nav h1 {
    align-self: center;
}

#top-nav h1 {
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    padding-left: 20px;
}

.card-header {
    background-color: transparent;
    border: none;
    width: -moz-available;
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -50px;
    overflow: visible;
}

.current-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e9c35;
    margin-right: 2px;
    flex-shrink: 0;
    margin-left: 10px;
}

.ticker {
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.card-title {
    font-size: 1.25rem;
    color: #007bff;
    font-weight: bold;
    height: -moz-available;
    height: -webkit-fill-available;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    grid-gap: 1.5rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
    max-height: 80%;
    overflow-y: auto;
}

.card {
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 4px #4e5052;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    padding: 10px;
    min-height: 250px; /* Set a minimum height for consistency */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
    margin-top: 10px;
}

.card-header, .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card:hover {
    box-shadow: 0 4px 8px #4e5052;
    transform: translateY(-5px);
}

.card p {
    margin: 0;
    font-size: 1rem;
    width: fit-content;
}

#top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#stock-panels h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 42px;
    text-align: left;
    margin-bottom: 20px;
    color: #ffffff;
}

#logo {
    width: 50px;
    height: auto;
    margin: 4px;
    border-radius: 4px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.col-6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
