body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin-left: 50;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stock_panels{
  gap: 5px;
}

#top_section{
  margin-top: 20px;
  gap: 20px;

}

#top-line{
  display: flex;
  margin-top: 10px;
}

#logo{
  width: 100px;
  height: 100px;

}

#stock_panels{

}

.card-container {
  display: grid;
  margin-top: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.card {
  width: 200px;
  /* Adjust as needed */
  height: 100px;
  /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}