<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>StockViewer WebApp</title>
</head>

<body>
    <div class="container-fluid pt-2">
        <nav id="top-nav" class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="{{ url_for('static', filename='images/moneyBagImage.jpg') }}" alt="Logo" id="logo">
                <a href="/" class="text-decoration-none" style="color: inherit;">
                    <h1 class="mb-0 ms-2">StockViewer WebApp</h1>
                </a>
            </div>
            <div id="nav-options">
                <button class="btn btn-light" onclick="window.location.href='/';">Home</button>
                <button class="btn btn-light" onclick="window.location.href='/about';">About</button>
                <select id="sort-options" class="btn btn-light" onchange="window.location.href=this.value;">
                    <option value="/">Sorted by: {{ sort_method }}</option>
                    <option value="/sort?by=name">Alphabetical</option>
                    <option value="/sort?by=current_price">Current Price</option>
                    <option value="/sort?by=volume">Volume</option>
                    <option value="/sort?by=close_price">Close Price</option>
                </select>
            </div>
        </nav>

        <div id="stock-panels">
            <div class="card-container">
                {% for ticker, price in stock_prices.items() %}
                <div class="card" onclick="window.location.href='{{ url_for('single_view', ticker=ticker) }}'">
                    <h4 class="card-title">{{ stock_tickers[ticker] }}</h4>
                    <p>{{ ticker }}</p>
                    <p>Current Price: {{ price }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
