<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>Stock Viewer</title>
</head>
<body>
    <div class="container">
        <!-- Top Navigation Bar -->
        <nav id="top-nav">
            <img src="{{ url_for('static', filename='images/moneyBagImage.jpg') }}" alt="Logo" id="logo">
            <div id="nav-options">
                <button onclick="window.location.href='/';">Home</button>
                <button onclick="window.location.href='/about';">About</button>
                <a href="#">Option 1</a> |
                <a href="#">Option 2</a> |
                <a href="#">Option 3</a>
            </div>
        </nav>

        <div id="stock-panels">
            <h3>All stocks</h3>
            <div class="card-container">
                {% for ticker in stock_tickers %}
                    <div class="card">{{ ticker }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
