<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Stock Viewer</title>

</head>

<body>

    <div="container">
        <div id="top-section">
            <div id="top-line">
                <img src="../static/images/moneyBagImage.jpg" alt="Logo" id="logo" width="100" height="100">
                <h1>StockViewer</h1>
            </div>
            <button onclick="window.location.href='index.html'">Home</button>
            <button onclick="window.location.href='about.html'">About</button>
            <div id="options">
                <!-- Add your navigation or options here -->
                <a href="#">Option 1</a> |
                <a href="#">Option 2</a> |
                <a href="#">Option 3</a>
            </div>
        </div>


        <div id="stock-panels">
            <h3>All stocks</h3>
            <div class="card-container">
                <li class="card" href="#">Card 1</li>
                <li class="card" href="#">Card 2</li>
                <li class="card" href="#">Card 3</li>
                <li class="card" href="#">Card 4</li>
                <li class="card" href="#">Card 5</li>
                <li class="card" href="#">Card 6</li>
                <li class="card" href="#">Card 7</li>
                <li class="card" href="#">Card 8</li>
                <li class="card" href="#">Card 9</li>
                <li class="card" href="#">Card 10</li>
                <li class="card" href="#">Card 11</li>
                <li class="card" href="#">Card 12</li>
            </div>
        </div>
        </div>

</body>

</html>