<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='singleView.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <!-- LightweightCharts Development (swap 'development' to 'production' for stripped version) -->
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.development.js"></script>
    <title>{{ company_name }} ({{ ticker }}) - StockViewer WebApp</title>
</head>

<body>
    <div class="grey main-content">
        <div class="container-fluid pt-2">
            <nav id="top-nav" class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="{{ url_for('static', filename='images/moneyBagImage.jpg') }}" alt="Logo" id="logo">
                    <a href="/" class="text-decoration-none" style="color: inherit;">
                        <h1 class="mb-0 ms-2">StockViewer WebApp</h1>
                    </a>
                </div>
                <div id="nav-options">
                    <button class="btn btn-light" onclick="window.location.href='/';">Home</button>
                    <button class="btn btn-light" onclick="window.location.href='/about';">About</button>
                </div>
            </nav>
            
            
            
            <div class="left-adjust expanded-sidebar">
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{ company_name }} ({{ ticker }})</h2><h5>On {{ company_overview.Exchange }} exchange from {{ company_overview.Country }} in {{ company_overview.Currency }}</h5>
                        <p>Last Updated: {{ last_updated }}</p>
                        <h2 class="green-text">{{ price }}</h2>
                    </div>
                    <div class="col-md-6">
                        <h4>Company Description</h4>
                        <p>{{ company_overview.Description }}</p>
                    </div>
                </div>
            
                <div id="graph-container"></div>
                <div id="timescale-controls">
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('1D')">1D</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('1W')">1W</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('1M')">1M</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('6M')">6M</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('YTD')">YTD</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('1Y')">1Y</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('2Y')">2Y</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('3Y')">3Y</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('4Y')">4Y</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('5Y')">5Y</button>
                    <button class="btn btn-sm btn-outline-secondary" onclick="updateChart('all')">All</button>
                </div>

                <hr/>
                <div class="financials-container">
                    <div class="financial-column">
                        <h2>Previous Close: {{ previous_close }}</h2>
                        <h2>Today's Open: {{ open_price }}</h2>
                    </div>
                    <div class="financial-column">
                        <h2>Today's Range: {{ recent_range }}</h2>
                        <h2>52 Week Range: ${{ company_overview["52WeekLow"] }} - ${{ company_overview["52WeekHigh"] }}</h2>
                    </div>
                </div>
                <hr/>
                <h4>Additional Financial Information:</h4>
                <div class="financials-container">
                <div class="financial-column">
                    <p>Volume: {{ volume }}</p>
                    <p>Market Capitalization: {{ market_cap }}</p>
                    <p>Shares Outstanding: {{ company_overview.SharesOutstanding }}</p>
                    <p>EBITDA: {{ company_overview.EBITDA }}</p>
                    <p>Ratios: {{ company_overview.PERatio }} (P/E) {{ company_overview.PEGRatio }} (PEG)</p>
                    <p>EPS: {{ company_overview.EPS }}</p>
                    <p>Revenue Per Share TTM: {{ company_overview.RevenuePerShareTTM }}</p>
                    <p>Gross Profit TTM: {{ company_overview.GrossProfitTTM }}</p>
                    <p>Diluted EPS TTM: {{ company_overview.DilutedEPSTTM }}</p>
                    <p>Beta (Volatility): {{ company_overview.Beta }}</p>
                </div>
                <div class="financial-column">
                    <p>Quarterly Growth YOY: {{ company_overview.QuarterlyEarningsGrowthYOY }} (Earnings) {{ company_overview.QuarterlyRevenueGrowthYOY }} (Revenue)</p>
                    <p>PE (Trailing - Forward): {{ company_overview.TrailingPE }} - {{ company_overview.ForwardPE }}</p>
                    <p>Price Ratio TTM: {{ company_overview.PriceToSalesRatioTTM }} (Sales TTM) {{ company_overview.PriceToBookRatio }} (Book)</p>
                    <p>Revenue TTM: {{ company_overview.RevenueTTM }}</p>
                    <p>Book Value: {{ company_overview.BookValue }}</p>
                    <p>EV: {{ company_overview.EVToRevenue }} (To Revenue) {{ company_overview.EVToEBITDA }} (To EBITDA)</p>
                    <p>Margins: {{ company_overview.ProfitMargin }} (Profit) {{ company_overview.OperatingMarginTTM }} (Operating TTM)</p>
                    <p>Moving Averages: {{ company_overview["50DayMovingAverage"] }} (50 Day) {{ company_overview["200DayMovingAverage"] }} (200 Day)</p>
                    <p>Return On TTM: {{ company_overview.ReturnOnAssetsTTM }} (Assets) {{ company_overview.ReturnOnEquityTTM }} (Equity)</p>
                    <p>Dividends: {{ company_overview.DividendPerShare }} (Per Share) {{ company_overview.DividendYield }} (Yield)</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>TradingView Analyst Report</h4>
                        <p>TradingView reports Target Price: {{ company_overview.AnalystTargetPrice }} and Analyst Ratings: Strong Buy {{ company_overview.AnalystRatingStrongBuy }}, Buy {{ company_overview.AnalystRatingBuy }}, Hold {{ company_overview.AnalystRatingHold }}, Sell {{ company_overview.AnalystRatingSell }}, Strong Sell {{ company_overview.AnalystRatingStrongSell }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Dividend Dates</h4>
                    <p>Dividend Date: {{ company_overview.DividendDate }} Ex-Dividend Date: {{ company_overview.ExDividendDate }}</p>
                </div>
            </div>

        </div>
    </div>
    <aside class="sidebar show" id="stockSidebar">
        <div class="list-group">
            {% for ticker, name in stock_tickers.items() %}
            <a href="/view/{{ ticker }}" class="list-group-item list-group-item-action">
                {{ name }} ({{ ticker }})
            </a>
            {% endfor %}
        </div>
    </aside>

    <div class="toggle-button" id="toggle-sidebar-btn">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#stockSidebar" aria-expanded="true" aria-controls="stockSidebar">
            >
        </button>
    </div>

<script>
    const ticker = "{{ ticker }}";
    const chartContainer = document.getElementById('graph-container');
    let chart;

    function createChart() {
        chart = LightweightCharts.createChart(chartContainer, {
            layout: {
                backgroundColor: '#fff',
                textColor: 'rgba(33, 56, 77, 1)',
            },
            grid: {
                vertLines: {
                    color: 'rgba(197, 203, 206, 1.0)',
                },
                horzLines: {
                    color: 'rgba(197, 203, 206, 1.0)',
                },
            },
            crosshair: {
                mode: LightweightCharts.CrosshairMode.Normal,
            },
            rightPriceScale: {
                borderColor: 'rgba(197, 203, 206, 1.0)',
            },
            timeScale: {
                borderColor: 'rgba(197, 203, 206, 1.0)',
            },
        });

        return chart.addCandlestickSeries();
    }
        
function updateChart(timescale) {
    fetch(`/api/timeseries/${encodeURIComponent(ticker)}?timescale=${timescale}`)
        .then(response => response.json())
        .then(data => {
            if (data && Array.isArray(data)) {
                const formattedData = data.map(item => ({
                    time: Math.floor(new Date(item.time).getTime() / 1000),
                    open: parseFloat(item.open),
                    high: parseFloat(item.high),
                    low: parseFloat(item.low),
                    close: parseFloat(item.close)
                }));

                formattedData.sort((a, b) => a.time - b.time);

                candleSeries.setData(formattedData);
                
                if (formattedData.length > 0) {
                    const firstDataTime = formattedData[0].time;
                    const lastDataTime = formattedData[formattedData.length - 1].time;
                    const now = Date.now() / 1000; // Current timestamp in seconds
                    const visibleRange = {};

                    switch (timescale) {
                        case '1D':
                            visibleRange.from = now - 24 * 60 * 60; // 24 hours ago
                            visibleRange.to = now;
                            break;
                        case '1W':
                            visibleRange.from = now - 7 * 24 * 60 * 60; // 7 days ago
                            visibleRange.to = now;
                            break;
                        case '1M':
                            visibleRange.from = now - 30 * 24 * 60 * 60; // 30 days ago
                            visibleRange.to = now;
                            break;
                        case '6M':
                            visibleRange.from = now - 6 * 30 * 24 * 60 * 60; // 6*30 days ago
                            visibleRange.to = now;
                            break;
                        case '1Y':
                            visibleRange.from = now - 365 * 24 * 60 * 60; // 365 days ago
                            visibleRange.to = now;
                            break;
                        case '2Y':
                            visibleRange.from = now - 2 * 365 * 24 * 60 * 60; // 2*365 days ago
                            visibleRange.to = now;
                            break;
                        case '3Y':
                            visibleRange.from = now - 3 * 365 * 24 * 60 * 60; // 3*365 days ago
                            visibleRange.to = now;
                            break;
                        case '4Y':
                            visibleRange.from = now - 4 * 365 * 24 * 60 * 60; // 3*365 days ago
                            visibleRange.to = now;
                            break;
                        case '5Y':
                            visibleRange.from = now - 5 * 365 * 24 * 60 * 60; // 3*365 days ago
                            visibleRange.to = now;
                            break;
                        case 'YTD':
                            const nowYTD = new Date();
                            const startOfYear = new Date(nowYTD.getFullYear(), 0, 1);
                            const startOfYearInSeconds = startOfYear.getTime() / 1000;
                            const nowInSecondsYTD = nowYTD.getTime() / 1000;
                            const visibleRangeYTD = {
                                from: startOfYearInSeconds,
                                to: nowInSecondsYTD
                            };
                            chart.timeScale().setVisibleRange(visibleRangeYTD);
                            break;
                        case 'all':
                            chart.timeScale().fitContent();
                            break;
                        default:
                            chart.timeScale().fitContent();
                            return;
                    }

                    chart.timeScale().setVisibleRange(visibleRange);
                }
            } else {
                console.error('Time series data is not in expected format:', data);
            }
        })
        .catch(error => console.error('Error fetching time series data for timescale:', timescale, error));
}


    function setChartSize() {
        chart.applyOptions({
            width: chartContainer.clientWidth,
            height: 285,
        });
    }

    const candleSeries = createChart();

    fetch(`/api/timeseries/${encodeURIComponent(ticker)}`)
        .then(response => response.json())
        .then(data => {
            if (data && Array.isArray(data)) {
                const formattedData = data.map(item => ({
                    time: Math.floor(new Date(item.time).getTime() / 1000),
                    open: parseFloat(item.open),
                    high: parseFloat(item.high),
                    low: parseFloat(item.low),
                    close: parseFloat(item.close)
                }));

                formattedData.sort((a, b) => a.time - b.time);

                candleSeries.setData(formattedData);
                chart.timeScale().fitContent();
            } else {
                console.error('Time series data is not in expected format:', data);
            }
        })
        .catch(error => console.error('Error fetching time series data:', error));

    window.addEventListener('resize', () => {
        setChartSize();
    });

    setChartSize();

    document.getElementById('toggle-sidebar-btn').addEventListener('click', function() {
        const sidebar = document.querySelector('.sidebar');
        const mainContent = document.querySelector('.left-adjust');

        sidebar.classList.toggle('collapsed');
        if (sidebar.classList.contains('collapsed')) {
            mainContent.classList.remove('expanded-sidebar');
            mainContent.classList.add('collapsed-sidebar');
        } else {
            mainContent.classList.add('expanded-sidebar');
            mainContent.classList.remove('collapsed-sidebar');
        }
        setTimeout(setChartSize, 300);
    });
</script>


</body>
</html>
