<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.slim.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='singleView.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <title>StockViewer WebApp</title>
</head>

<body>
    <div class="container-fluid">
        <!-- Your navigation bar here -->
        <div id="stock-body">
            <h2>{{ company_name }}</h2>
            <p>Ticker: {{ ticker }}</p>
            <p>Current Price: {{ price }}</p>
            <!-- Placeholder for graph -->
            <div id="graph-container">
                Graph goes here
            </div>
        </div>
    </div>
</body>
